# Data Visualizations for Astronomy Ontology
## Group 59

In [ ]:
%load_ext ipython_sparql_pandas

First, make sure that `astronomy.ttl` is loaded in GraphDb as the `astro` repository.
Then, we will query to find the planets.

In [ ]:
%%sparql http://localhost:7200/repositories/astro -s planets
PREFIX pl: <http://example/pl/>

SELECT ?planet (COUNT(*) as ?moons) {
    ?planet pl:hasMoon ?o .
} GROUP BY ?planet

### Bar Graph of Planets and Their Number of Moons

In [ ]:
planets.set_index('planet', inplace=True);
planets['planet'].plot(kind="bar");